<div class="container">
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
        <path
          d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
        ></path>
      </svg>
      <input
        placeholder="Zoeken..."
        (keydown.enter)="search(searchValue)"
        type="search"
        class="input"
        [(ngModel)]="searchValue"
      />
    </div>
    <div class="col-md-2 col-xs-12">
      <button *ngIf="hasSearched; else searchButton" (click)="clearSearch()" class="btn btn-primary">
        Zoekopdracht wissen
      </button>

      <ng-template #searchButton (click)="search(searchValue)">
        <button (click)="search(searchValue)" class="btn btn-primary">Zoeken</button>
      </ng-template>
    </div>

    <div class="col-md-4 col-xs-0"></div>

    <div class="col-md-2 col-xs-12">
      <button type="submit" class="btn btn-primary " routerLink="/events/create">Aanmaken</button>
    </div>
    <ng-container *ngIf="events">
      <cdk-accordion class="example-accordion">
        <cdk-accordion-item
          class="example-accordion col-md-12"
          *ngFor="let item of events; let index = index"
          style="display: block; cursor: default"
          #accordionItem="cdkAccordionItem"
          class="example-accordion-item"
          role="button"
          tabindex="0"
          [attr.id]="'accordion-header-' + index"
          [attr.aria-expanded]="accordionItem.expanded"
          [attr.aria-controls]="'accordion-body-' + index"
        >
          <div class="rounded card" [ngClass]="{ 'disable-rounded-top-left': accordionItem.expanded }">
            <ul class="list-group" style="cursor: default">
              <li class="">
                <div class="card-body" *ngIf="!accordionItem.expanded">
                  <!--                  Card field content-->
                  <div class="row">
                    <div class="col-md-12">
                      <h1>{{ item.title }}</h1>
                    </div>
                    <div class="info col-md-12">
                      <div class="tags" *ngFor="let tag of item.tags" style="margin: -8px 2px 20px 0">
                        <span class="badge badge-pill badge-primary">{{ tag.subject }}</span>
                      </div>
                      <p style="text-align: end; margin: -8px 2px 20px 0; font-style: oblique; font-weight: lighter">
                        {{ item.dateOfEvent }}
                      </p>
                    </div>
                  </div>
                  <p>{{ item.description }}</p>
                </div>
              </li>
            </ul>
            <div class="example-accordion-item-body" role="region"
              [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + index"
              [attr.aria-labelledby]="'accordion-header-' + index">
              <div class="small-expand-item" (click)="accordionItem.toggle()" (click)="clearDetails()"
                style="cursor: pointer">
                <div *ngIf="accordionItem.expanded">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-arrow-bar-down" viewBox="0 0 16 16" style="transform: rotate(180deg)">
                    <path fill-rule="evenodd"
                      d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z" />
                  </svg>
                </div>
              </div>
              <!--                Start accordion content-->
              <div *ngIf="loading else content" class="row text-center">
                  <app-loading-spinner ></app-loading-spinner>
              </div>

              <ng-template #content>
                <div>
                  <div class="row">
                    <div class="col-md-12">
                      <h1>{{item.title}}</h1>
                    </div>
                    <div class="col-md-12">
                      <div class="tags" *ngFor="let tag of item.tags" style=" margin: -8px 2px 20px 0 ">
                        <span class="badge badge-pill badge-primary">{{tag.subject}}</span>
                      </div>
                    </div>
                  </div>
                  <h2>description</h2>
                  <p>{{item.description}}</p>
                  <h2>{{eventDetailsObject.content}}</h2>
                  <p>

                  </p>
                  <div class="row">
                    <div class="col-md-12">
                      <h3>Video[] bestanden</h3>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <h3>PDF[] bestanden</h3>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <h3>Audio[] bestanden</h3>
                    </div>
                  </div>
                  <div class="more-options">
                    <i class="material-icons" [matMenuTriggerFor]="menu">&#xe5d4;</i>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item [routerLink]="['edit', item.id]">Wijzigen</button>
                      <button mat-menu-item (click)="archive(item.id!)">Archiveren</button>
                    </mat-menu>
                  </div>
                  <div class="dateOfEvent">
                    <p>{{item.dateOfEvent}}</p>
                  </div>
                </div>
              </ng-template>
            </div>

            <div class="expand-item" (click)="accordionItem.toggle()" (click)="getEventDetails(item.id!)"
              style="cursor: pointer">
              <div *ngIf="!accordionItem.expanded">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                  class="bi bi-arrow-bar-down" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z" />
                </svg>
              </div>

              <div *ngIf="accordionItem.expanded">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                  class="bi bi-arrow-bar-down" viewBox="0 0 16 16" style="transform: rotate(180deg)">
                  <path fill-rule="evenodd"
                    d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z" />
                </svg>
              </div>
            </div>
          </div>
        </cdk-accordion-item>
      </cdk-accordion>
    </ng-container>
  </div>
</div>
