.search-input {
  width: 100%;
  height: 40px;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: #f3f3f4;
  transition: 0.3s ease;
}

.search-input::placeholder {
  color: #9e9ea7;
}

.search-input:focus,
.search-input:hover {
  outline: none;
  border-color: rgb(234 76 137 / 10%);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
  fill: #9e9ea7;
  margin: 11px 0px 0px 15px;
  width: 1rem;
  height: 1rem;
  position: absolute;
}

button {
  width: 100%;
}

.card {
  /* margin-top: 40px; */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  border-width: 0;
  background: transparent;
}

.eventDeleteButton {
  width: 8rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 768px) {
  button {
    margin-top: 10px;
  }
}

.expand-item {
  width: 100%;
  height: 40px;
  border: 2px solid transparent;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #f3f3f4;
  text-align: center;
}

.expand-item:hover {
  background-color: #fff;
  transition: 0.6s ease;
}

.small-expand-item {
  border: 2px solid transparent;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  background-color: transparent;
  text-align: left;
  position: absolute;
  left: 20%;
  margin-left: -18.5px;
  top: 33px;
}

/* .disable-rounded-top-left {
  border-top-left-radius: 0 !important;
} */

.small-expand-item:hover {
  color: #0d8478;
  transition: 0.6s ease;
}

.example-accordion-item-body {
  padding: 0 0;
}

.more-options {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
}

.tags {
  float: left;
}

.info {
  float: right;
}

.badge {
  margin: 0.2rem 0;
  border-radius: 0.2rem;
  background-color: #007469;
  float: left;
  margin-right: 10px;
}

.dateOfEvent {
  position: absolute;
  bottom: 30px;
  right: 0;
  margin: 0.5rem;
  text-align: end;
  font-style: oblique;
  font-weight: lighter;
}

.show-archived {
  margin: 3.2% 0px 0px 0px;
}

.archive-img {
  margin-top: -44px;
  margin-left: 30%;
}

.archive-img img {
  width: 40px;
}

@media (max-width: 768px) {
  .archive-img {
    margin-top: -79px;
    margin-left: 90%;
  }

  .archive-img img {
    width: 25px;
  }
}

.description {
  font-size: 17px;
}

.timeline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.timeline:before {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 2px;
  background: #2d353c;
  left: 20%;
  margin-left: -2.5px;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  padding: 0;
}

.timeline .timeline-time {
  position: absolute;
  left: 0;
  width: 18%;
  text-align: right;
  top: 22px;
}

.timeline .timeline-time .date {
  display: block;
  line-height: 30px;
  align-self: center;
  color: #242a30;
  font-style: oblique;
}

.timeline .timeline-body {
  margin-left: 23%;
  position: relative;
  padding: 0;
  border-radius: 6px;
  background: #f3f3f4;
  margin-bottom: 2.5em;
}

.timeline .timeline-body .event-content {
  border-radius: 6px;
  padding: 20px 20px;
  padding-bottom: 0;
}

.timeline .timeline-body:before {
  content: '';
  display: block;
  position: absolute;
  border: 10px solid transparent;
  border-right-color: #f3f3f4;
  left: -20px;
  top: 25px;
}

.timeline .timeline-icon {
  left: 15%;
  position: absolute;
  width: 9.5%;
  text-align: center;
  top: 29px;
}

.timeline .timeline-icon p {
  text-decoration: none;
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 20px;
  background: #d9e0e7;
  line-height: 10px;
  color: #fff;
  font-size: 14px;
  border: 2px solid #2d353c;
}

.expand-item.archive-card,
.timeline .timeline-body.archive-card,
.timeline .timeline-body.archive-card .event-content {
  background-color: #f2e5d9;
}

.expand-item.archive-card:hover {
  background-color: #f7f2ed;
}

.timeline .timeline-body.archive-card:before {
  border-right-color: #f2e5d9;
}
