<div class="container mt-5" style="background: white">
  <div class="row gx-5 gy-3">
    <div class="col-12">
      <div class="card-body">
        <h1 class="text-center">Organisatie</h1>
      </div>
    </div>

    <div class="col-12">
      <button class="select-button left-button">Actief</button>
      <button class="select-button">Allemaal</button>
      <button class="select-button right-button">Inactief</button>
      <hr />
    </div>

    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Naam</th>
            <th scope="col">Mail</th>
            <th scope="col">Actief</th>
            <th scope="col">Wijzigen</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Timothy Borghouts</td>
            <td>Timothy.borghouts2@gmail.com</td>
            <td>Yes</td>
            <td>
              <button type="button" class="btn brand-button"><i class="far fa-eye"></i>Deactiveren</button>
            </td>
          </tr>
          <tr>
            <td>Lucas de Kleijn</td>
            <td>Lucasdekleijn@outlook.com</td>
            <td>No</td>
            <td>
              <button type="button" class="btn brand-button"><i class="far fa-eye"></i>Activeren</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
