<div class="container">
  <div class="row gx-5 gy-3">
    <div class="col-12">
      <div class="card-body">
        <h1 class="card-title text-center mb-2">Organisatie</h1>
      </div>
    </div>

    <div class="col-12 card">
      <h3>Organisatienaam</h3>
      <h3>Domein</h3>
    </div>

    <div class="col-6">
      <h2>Actieve deelnemers:</h2>
      <div class="card">Actief</div>
    </div>

    <div class="col-6">
      <h2>Inactieve deelnemers:</h2>
      <div class="card">Inactief</div>
    </div>
  </div>
</div>
