<nav
  *ngIf="router.url !== '/login' && router.url !== '/register' && router.url !== '/accountrecovery'"
  class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3 bg-blue-green"
>
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      [ngbCollapse]="isNavbarCollapsed"
      class="navbar-collapse collapse d-sm-inline-flex justify-content-center"
      id="navbarNav"
    >
      <ul class="navbar-nav flex-grow-1">
        <div class="roots-wrapper">
          <img src="assets/images/logo-with-circle.png" alt="Image of the logo" routerLink="/events" />
          <a class="navbar-brand" routerLink="/events">Roots</a>
        </div>
      </ul>
      <ul class="navbar-nav flex-grow-2">
        <!-- Links to have on the right side of the navbar. -->
        <li class="nav-item">
          <a class="nav-link" id="events" routerLink="/events" routerLinkActive="active" ariaCurrentWhenActive="page"
            >Events</a
          >
        </li>
        <li class="nav-item d-none d-sm-block">
          <p>|</p>
        </li>
        <li class="nav-item">
          <div ngbDropdown class="d-inline-block">
            <a
              class="nav-link"
              id="dropdownBasic1"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              ngbDropdownToggle
              role="combobox"
              aria-expanded="false"
              aria-label="Toggle dropdown"
              href="javascript:void(0)"
            >
              {{ getUsername() }}
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button (click)="logout()" ngbDropdownItem>Uitloggen</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
