<nav
  *ngIf="
    router.url !== '/login' &&
    router.url !== '/register' &&
    router.url !== '/accountrecovery' &&
    !router.url.includes('/passwordreset') &&
    !this.router.url.includes('/verifyaccount')
  "
  class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3 bg-blue-green"
>
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      [ngbCollapse]="isNavbarCollapsed"
      class="navbar-collapse collapse d-sm-inline-flex justify-content-center"
      id="navbarNav"
    >
      <ul class="navbar-nav flex-grow-1">
        <div class="roots-wrapper">
          <img src="assets/images/logo-with-circle.png" alt="Image of the logo" routerLink="/events" />
          <a class="navbar-brand" routerLink="/events">Roots</a>
        </div>
      </ul>
      <ul class="navbar-nav flex-grow-2">
        <!-- Links to have on the right side of the navbar. -->
        <li class="nav-item">
          <a class="nav-link" id="events" routerLink="/events" routerLinkActive="active" ariaCurrentWhenActive="page"
            >Events</a
          >
        </li>
        <li class="nav-item d-none d-sm-block">
          <p>|</p>
        </li>
        <li class="nav-item">
          <div ngbDropdown class="d-inline-block">
            <a
              class="nav-link"
              id="dropdownBasic1"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              ngbDropdownToggle
              role="combobox"
              aria-expanded="false"
              aria-label="Toggle dropdown"
              href="javascript:void(0)"
            >
              {{ getUsername() }}
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
              <button routerLink="/organisation" routerLinkActive="active" ngbDropdownItem>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="26.5"
                  height="26.5"
                  fill="currentColor"
                  class="bi bi-buildings"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022ZM6 8.694 1 10.36V15h5V8.694ZM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15Z"
                  />
                  <path
                    d="M2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-2 2h1v1H2v-1Zm2 0h1v1H4v-1Zm4-4h1v1H8V9Zm2 0h1v1h-1V9Zm-2 2h1v1H8v-1Zm2 0h1v1h-1v-1Zm2-2h1v1h-1V9Zm0 2h1v1h-1v-1ZM8 7h1v1H8V7Zm2 0h1v1h-1V7Zm2 0h1v1h-1V7ZM8 5h1v1H8V5Zm2 0h1v1h-1V5Zm2 0h1v1h-1V5Zm0-2h1v1h-1V3Z"
                  />
                </svg>
                <span class="m-3">Organisatie</span>
              </button>
              <button (click)="logout()" ngbDropdownItem>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="25"
                  height="25"
                  fill="currentColor"
                  class="bi bi-box-arrow-left"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"
                  />
                </svg>
                <span class="m-3">Uitloggen</span>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
