<div class="container">
  <div class="text-center">
    <h1>{{ buttonText }} event</h1>
  </div>
  <form>
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="error" class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="title">Titel:</label>
          <input
            [(ngModel)]="event.title"
            name="title"
            type="text"
            class="form-control"
            id="title"
            aria-describedby="titleHelp"
            placeholder="Titel typen..."
            (input)="onTitleChanged()"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="dateOfEvent">Datum:</label>
          <input
            [ngModel]="event.dateOfEvent | date : 'yyyy-MM-dd'"
            (ngModelChange)="event.dateOfEvent = $event"
            name="dateOfEvent"
            type="date"
            class="form-control"
            id="dateOfEvent"
            [value]="event.dateOfEvent | date : 'yyyy-MM-dd'"
            aria-describedby="dateHelp"
            lang="fr-CA"
          />
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="description">Beschrijving:</label>
          <textarea
            [(ngModel)]="event.description"
            name="description"
            type="description"
            class="form-control"
            id="description"
            aria-describedby="descriptionHelp"
            placeholder="Beschrijving typen..."
          ></textarea>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label for="tags">Tags toevoegen:</label>
          <div class="form-tags">
            <ng-multiselect-dropdown
              [settings]="dropdownSettings"
              [data]="dropdownList"
              [(ngModel)]="event.tags"
              [required]="error"
              name="tags"
              id="tags"
              placeholder="Selecteren"
            >
            </ng-multiselect-dropdown>
          </div>
        </div>
      </div>
      <div class="col-md-1">
        <i class="material-icons" (click)="openDialog()" style="padding-top: 35px">&#xe148;</i>
      </div>
      <div class="col-md-6 mb-3">
        <div class="form-group">
          <label for="file"></label>
          Bestand toevoegen:
          <input type="file" class="form-control" id="file" multiple aria-describedby="fileHelp" name="Image" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let tag of event.tags">{{ tag.subject }}</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-primary" (click)="backClicked()">Terug</button>
        <button type="button" class="btn btn-primary submitButton" (click)="validate()">{{ buttonText }}</button>
      </div>
    </div>
  </form>
</div>
<script>
  $(document).ready(function () {
    $('#tags').multiselect({
      nonSelectedText: 'Select Framework',
      enableFiltering: true,
      enableCaseInsensitiveFiltering: true,
      buttonWidth: '400px',
    });
  });
</script>
