button {
  margin-top: 10px;
  margin-right: 10px;
  width: 45%;
}

.form-check,
.form-group {
  padding-top: 10px;
}

h1 {
  padding-top: 10px;
}

textarea {
  height: 111px;
}

.list-group-flush {
  border-radius: 5px;
  border: 1px solid #ced4da;
  height: 160px;
  overflow: hidden;
  overflow-y: auto;
  background-color: white;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.validField {
  border: 2px solid green;
  display: block;
}

.invalidField {
  border: 2px solid red;
  display: block;
}

::ng-deep .multiselect-dropdown .dropdown-btn {
  width: -webkit-fill-available !important;
  min-height: 38px;
}

::ng-deep .multiselect-dropdown .dropdown-btn:focus {
  outline: none !important;
}

.tag-dropdown:nth-last-of-type(-n + 2) {
  display: none;
}

.form-tags {
  background-color: white;
  border-radius: 0.375rem;
}

.newtag {
  text-align: end;
}

.material-icons:hover {
  cursor: pointer;
}

.dropzone {
  position: relative;
}

.dropzone .dropzone-text {
  display: flex;
  visibility: hidden;
  position: absolute;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  z-index: 999;
  top: 10px;
  bottom: 0px;
  width: 100%;
  font-size: 0.9rem;
  opacity: 0;
  background-color: rgba(142, 156, 170, 0.2);
  transition: opacity 0.3s ease-in-out;
}

div.dropzone:hover div.dropzone-text {
  opacity: 1;
  visibility: visible;
}

.dropzone button.btn.brand-button-danger {
  max-width: fit-content;
  margin: 0;
  padding: 0px 6px;
}

.dropzone span {
  overflow: hidden;
  align-self: center;
}

.file-item-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

editor.form-control {
  min-height: 300px;
}

.addtag-wrapper,
.addtag-wrapper:hover {
  color: black;
}
