<div class="container">
  <div class="text-center">
    <h1>{{ buttonText }} event</h1>
  </div>
  <form>
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="error" class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <app-input-with-tag-suggestions
            class="title"
            style="position: relative"
            [(tags)]="tagSuggestions"
            [(eventTags)]="event.tags"
            [(title)]="event.title"
            (eventTagsChange)="tagChange()"
          >
          </app-input-with-tag-suggestions>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="dateOfEvent">Datum:</label>
          <input
            [ngModel]="event.dateOfEvent | date : 'yyyy-MM-dd'"
            (ngModelChange)="event.dateOfEvent = $event"
            name="dateOfEvent"
            type="date"
            class="form-control"
            id="dateOfEvent"
            [value]="event.dateOfEvent | date : 'yyyy-MM-dd'"
            aria-describedby="dateHelp"
            lang="fr-CA"
          />
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="description">Beschrijving:</label>
          <textarea
            [(ngModel)]="event.description"
            name="description"
            type="description"
            class="form-control"
            id="description"
            aria-describedby="descriptionHelp"
            placeholder="Beschrijving typen..."
          ></textarea>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="longerdescription">Omschrijving:</label>
          <textarea
            [(ngModel)]="event.content"
            name="longerdescription"
            id="longerdescription"
            class="form-control"
          ></textarea>
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="row">
              <div class="col-10 pe-0">
                <div class="form-group">
                  <label for="tags">Tags toevoegen:</label>
                  <div class="form-tags">
                    <ng-multiselect-dropdown
                      #multiSelect
                      [settings]="dropdownSettings"
                      [data]="dropdownList"
                      [(ngModel)]="event.tags"
                      (click)="changeTagName()"
                      (ngModelChange)="changeTagName()"
                      [required]="error"
                      name="tags"
                      id="tags"
                      placeholder="Selecteren"
                      (keydown.enter)="multiSelect.toggleDropdown($event)"
                    >
                    </ng-multiselect-dropdown>
                  </div>
                </div>
              </div>
              <div class="col-2 newtag">
                <a class="a-for-accessibility" href="javascript:void(0)" (keydown.enter)="openDialog()">
                  <i class="material-icons" (click)="openDialog()" style="padding-top: 37px">&#xe148;</i>
                </a>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" *ngFor="let tag of event.tags">{{ tag.subject }}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="file"></label>
                  Bestand toevoegen:
                  <input
                    type="file"
                    (change)="onFileSelected($event)"
                    class="form-control"
                    id="file"
                    multiple
                    aria-describedby="fileHelp"
                    name="Image"
                  />
                </div>
              </div>
            </div>
            <div class="col-12">
              <div
                class="form-group dropzone"
                id="dropzone"
                appDragAndDrop
                (fileDropped)="onFileDropped($event)"
                (onDragEnter)="drag()"
              >
                <div *ngIf="!event.multimediaItems || event.multimediaItems.length == 0" class="dropzone-text">
                  <i>Drop files here</i>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" *ngFor="let multimediaItem of event.multimediaItems">
                    <div class="file-item-wrapper">
                      <span>{{ multimediaItem.multimedia }}</span>
                      <button (click)="filterMultimedia(multimediaItem.multimedia)" class="btn brand-button-danger">
                        x
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <button type="button" class="btn btn-primary brand-button" (click)="backClicked()">Terug</button>
        <button type="button" class="btn btn-primary submitButton brand-button" (click)="validate()">
          {{ buttonText }}
        </button>
      </div>
    </div>
  </form>
</div>
<script>
  $(document).ready(function () {
    $('#tags').multiselect({
      nonSelectedText: 'Select Framework',
      enableFiltering: true,
      enableCaseInsensitiveFiltering: true,
      buttonWidth: '400px',
    });
  });
</script>
