<div class="row">
  <div class="col-12 col-md-8 mx-auto">
    <div class="card register-card">
      <div class="card-body">
        <h1 class="card-title text-center mb-4">Registreren</h1>
        <div *ngIf="userError" class="userError">
          <div class="alert alert-danger" role="alert">
            {{ userErrorMessage }}
          </div>
        </div>
        <form>
          <div class="row gy-3">
            <div class="col-6">
              <label for="firstNameInput">Voornaam</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-person"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"
                      />
                    </svg>
                  </span>
                </div>
                <input
                  [(ngModel)]="user.firstName"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  id="firstNameInput"
                  placeholder="Voornaam invoeren..."
                />
              </div>
            </div>

            <div class="col-6">
              <label for="emailInput">Achternaam</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-person"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"
                      />
                    </svg>
                  </span>
                </div>
                <input
                  [(ngModel)]="user.lastName"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  id="lastNameInput"
                  placeholder="Achternaam invoeren..."
                />
              </div>
            </div>

            <div class="col-12">
              <label for="emailInput">Emailadres</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-envelope-at"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"
                      />
                      <path
                        d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"
                      />
                    </svg>
                  </span>
                </div>
                <input
                  type="email"
                  class="form-control"
                  id="emailInput"
                  placeholder="Email invoeren..."
                  (input)="createDomain()"
                  [(ngModel)]="user.username"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>

            <div class="col-12">
              <label for="passwordInput">Wachtwoord</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-shield-lock"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"
                      />
                      <path
                        d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415z"
                      />
                    </svg>
                  </span>
                </div>
                <input
                  [(ngModel)]="user.password"
                  [ngModelOptions]="{ standalone: true }"
                  type="password"
                  class="form-control"
                  id="passwordInput"
                  placeholder="Wachtwoord invoeren..."
                />
              </div>
            </div>
            <div class="col-12">
              <label for="passwordRepeatInput">Wachtwoord herhalen</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-shield-lock"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"
                      />
                      <path
                        d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415z"
                      />
                    </svg>
                  </span>
                </div>
                <input
                  [(ngModel)]="repeatpassword"
                  [ngModelOptions]="{ standalone: true }"
                  type="password"
                  class="form-control"
                  id="passwordInput"
                  placeholder="Wachtwoord invoeren..."
                />
              </div>
            </div>

            <div class="col-12 mt-4">
              <button
                type="button"
                class="btn btn-outline-primary brand-button mb-3 text-center"
                (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="22"
                  height="22"
                  fill="currentColor"
                  class="bi bi-plus-circle"
                  viewBox="0 0 16 16"
                >
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                  />
                </svg>
                Een organisatie toevoegen?
              </button>
              <div>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                  <div class="card">
                    <div class="card-body">
                      <label for="organisationNameInput">Organisatienaam</label>
                      <div class="row">
                        <div class="col-9">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="16"
                                  height="16"
                                  fill="currentColor"
                                  class="bi bi-building"
                                  viewBox="0 0 16 16"
                                >
                                  <path
                                    d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1ZM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"
                                  />
                                  <path
                                    d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V1Zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3V1Z"
                                  />
                                </svg>
                              </span>
                            </div>
                            <input
                              type="text"
                              class="form-control"
                              id="organisationNameInput"
                              placeholder="Naam invoeren..."
                              [(ngModel)]="organisation.name"
                              [ngModelOptions]="{ standalone: true }"
                            />
                          </div>
                        </div>
                        <div class="col-3">
                          <button
                            (click)="open(content)"
                            class="btn btn-primary brand-button create-organization-button"
                          >
                            Aanmaken
                          </button>
                          <ng-template #content let-modal>
                            <div class="modal-header">
                              <h1 class="modal-title">{{ this.organisation.name }}</h1>
                              <button
                                type="button"
                                class="btn-close"
                                (click)="modal.dismiss('Cross click')"
                                aria-label="Close"
                              ></button>
                            </div>
                            <div class="modal-body">
                              <p>
                                Weet u zeker dat u organisatie "{{ this.organisation.name }}" met domein "{{
                                  this.organisation.domainName
                                }}" wilt aanmaken?
                              </p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn brand-button" (click)="modal.dismiss('Cross click')">
                                Terug
                              </button>
                              <button
                                type="button"
                                class="btn brand-button"
                                (click)="validateOrganisation(); modal.close('Save click')"
                              >
                                Organisatie aanmaken
                              </button>
                            </div>
                          </ng-template>
                        </div>
                      </div>
                      <div class="text-muted mt-3">
                        Het domein voor deze organisatie wordt: {{ this.organisation.domainName }}
                      </div>
                      <div *ngIf="organisationError" class="col-md-12">
                        <br />
                        <div class="alert alert-danger" role="alert">
                          {{ organisationErrorMessage }}
                        </div>
                      </div>
                      <div *ngIf="organisationSuccess" class="col-md-12">
                        <br />
                        <div class="alert alert-success" role="alert">
                          {{ this.organisationSuccessMessage }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 text-center">
              <button (click)="validateUser()" type="submit" class="btn btn-primary register-button brand-button">
                Registreren
              </button>
            </div>
            <div class="col-12 text-center">
              <p>
                Al een account?<a routerLink="/login"><br />Inloggen</a>.
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
