.form-group {
  padding: 0px 0px 10px 0px;
}

label {
  font-size: 16px;
  margin-bottom: 7px;
}

span {
  height: 100%;
}

.input-group-text {
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

.register-card {
  margin-top: 25px;
}

.accordion-card {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.register-button {
  width: 60%;
  text-decoration: none;
  color: white;
}

.create-organization-button {
  width: 100%;
}

.form-check-input {
  border-radius: 0px !important;
  margin: 0px 20px 0px 8px;
}
