.form-group {
    padding: 0px 0px 10px 0px
}

label {
    font-size: 16px;
    margin-bottom: 7px;
}

span {
    height: 100%;
}

.input-group-text {
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

.card {
    top: 50%;
    padding: 1%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}