<div class="container">
  <div class="text-center">
    <h1>Evenement toevoegen</h1>
  </div>
  <form>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="title">Titel</label>
          <input
            type="text"
            class="form-control"
            id="title"
            aria-describedby="titleHelp"
            placeholder="Voer titel in..."
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="date">Datum:</label>
          <input
            type="date"
            class="form-control"
            id="date"
            aria-describedby="dateHelp"
          />
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="date">Beschrijving:</label>
          <textarea
            type="description"
            class="form-control"
            id="description"
            aria-describedby="descriptionHelp"
          ></textarea>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="tags">Tag toevoegen:</label>
          <select class="form-select" aria-label="select-picker">
            <option selected>Kies tag...</option>
            <option value="1">Administratie</option>
            <option value="2">Financiën</option>
            <option value="3">Werkcultuur</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="date">Bestand toevoegen:</label>
          <input
            type="date"
            class="form-control"
            id="date"
            aria-describedby="dateHelp"
          />
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="terms" />
          <label class="form-check-label" for="terms"
            >Ik ga akkoord met de algemene voorwaarden.</label
          >
        </div>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary" routerLink="/" routerLinkActive="active">Annuleren</button>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary" (click)="createEvent()">Aanmaken</button>
      </div>
    </div>
  </form>
</div>
