<div class="container">
  <div class="row">
    <div class="container">
      <div class="row">
        <ng-container>
          <div class="col-md-6 mt-2" style="display: block">
            <div class="rounded card">
              <div class="card-body">
                <h5 class="card-title">Gearchiveerd event</h5>
                <p class="card-text">Beschrijving van gearchiveerd item</p>
                <button type="button" class="btn btn-primary terughalenButton">
                  <img src="assets/images/back-arrow.png" height="28px" alt="Image of the logo" routerLink="/events" />
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-2" style="display: block">
            <div class="rounded card">
              <div class="card-body">
                <h5 class="card-title">Gearchiveerd event</h5>
                <p class="card-text">Beschrijving van gearchiveerd item</p>
                <button type="button" class="btn btn-primary terughalenButton">
                  <img src="assets/images/back-arrow.png" height="28px" alt="Image of the logo" routerLink="/events" />
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-2" style="display: block">
            <div class="rounded card">
              <div class="card-body">
                <h5 class="card-title">Gearchiveerd event</h5>
                <p class="card-text">Beschrijving van gearchiveerd item</p>
                <button type="button" class="btn btn-primary terughalenButton">
                  <img src="assets/images/back-arrow.png" height="28px" alt="Image of the logo" routerLink="/events" />
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-2" style="display: block">
            <div class="rounded card">
              <div class="card-body">
                <h5 class="card-title">Gearchiveerd event</h5>
                <p class="card-text">Beschrijving van gearchiveerd item</p>
                <button type="button" class="btn btn-primary terughalenButton">
                  <img src="assets/images/back-arrow.png" height="28px" alt="Image of the logo" routerLink="/events" />
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
