<div class="container">
  <div class="row">
    <div class="container">
      <div class="row archived-events-row">
        <ng-container>
          <div *ngFor="let item of events" class="col-md-4 mt-2 archived-event" style="display: block">
            <div class="rounded card">
              <div class="card-body">
                <h2 class="card-title">{{ item.title }}</h2>
                <p class="card-text">{{ item.description.substring(0, 70) }}...</p>
                <button
                  type="button"
                  class="btn btn-primary unarchiveButton terughalenButton"
                  routerLink="/events"
                  (click)="unarchive(item.id!)"
                >
                  Terughalen
                  <img src="assets/images/back-arrow.png" height="28px" alt="Image of the logo" />
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
